<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body>

<h1 th:text="${title}"></h1>

<h2>Update/Enter Information </h2>
<nav>
    <ul>
        <li>
            <a href="medentry">Enter Prescriptions and Details</a>
        </li>
        <li>
            <a href="contact"> Update Contact Information</a>
        </li>
        <li>
            <a href="doctorinfo">Doctor/Hospital Helpful Info</a>
        </li>
    </ul>
</nav>




</body>
</html>