<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container">
    <h1 th:text="${title}"></h1>
<form method="post" style="max-width:600px;" th:object="${patient}" >
    <div class="form-group">
        <label th:for="firstname">First Name</label>
        <input class="form-control" th:field="*{firstname}" />
        <span th:errors="*{firstname}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastname">Last Name</label>
        <input class="form-control" th:field="*{lastname}" />
        <span th:errors="*{lastname}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="username">Create a username</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email address for account </label>
        <input class="form-control" type="email" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Create a password </label>
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">

        <label for="verify">Verify password </label>
        <input id="verify" type="password" name="verify" required="required" />
    </div>
    <input type="submit" value="Submit Information" />
</form>
</body>
</html>